<div class='popup'>
  <h3>Do you really want to delete all active notes?</h3>
  <form>
    <div class='form-buttons'>
      <input type='submit' value='Submit' />
      <input type='button' value='Cancel' />
    </div>
  </form>
</div>