<div class='popup'>
  <h3>Do you really want to {{action}} the "{{name}}"?</h3>
  <form>
    <div class='form-buttons'>
      <input data-action={{action}} type='submit' value='Submit' />
      <input type='button' value='Cancel' />
    </div>
  </form>
</div>